.news {
  @include background-img("../../images/bg_blog_1.jpg", cover, center, no-repeat, padding-box);
  h3 {
    margin-top: 0;
    margin-left: 7%;
    padding-top: 4.2rem;
    padding-left: 0;
    text-align: left;
    color: white;
  }
  p {
    margin-top: auto;
    text-align: left;
    margin-left: 7%;
    padding-left: 0;
    color: white;
  }
  .swiper-container3 {
    margin: 0 7% 0 12%;
    position: relative;
    overflow: hidden;
    height: 450px;
    @include mq-sm-and-down {
      height: 480px;
    }
    .swiper-wrapper {
      flex-direction: column;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition-property: transform;
    }
    .swiper-slide {
      align-items: flex-start;
      .swiper-slide-content {
        flex-basis: 100%;
        display: block;
        text-align: left;
        p {
          &:nth-child(1) {
            margin: 5% 0 0 0;
            @include mq-sm-and-down {
              margin-top: 0;
            }
          }
          &:last-child {
            margin-top: 3rem;
            width: 60%;
            text-align: justify;
            @include mq-md-and-down {
              width: 85%;
              margin-top: 1rem;
            }
            @include mq-sm-and-down {
              width: 85%;
              margin-top: .5rem;
            }
            @include mq-sm-and-down {
              margin-top: 0;
            }
          }
          text-align: left;
          margin: 0;
          width: 100%;
          color: white;
          margin-top: .5rem;
          @include mq-sm-and-down {
            margin-top: 0;
          }
        }
        .likes {
          color: $light-grey-font-color;
          font-size: .7rem;
          font-family: $headers-font;
        }
      }
    }
    .swiper-pagination3 {
      position: absolute;
      text-align: center;
      transition: 300ms;
      transform: translate3d(0, 0, 0);
    }
    .swiper-pagination-bullets {
      bottom: 50%;
      right: 1%;
      width: 1%;
      z-index: 1;
      @include mq-md-and-down {
        right: 5%;
      }
    }
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      display: inline-block;
      border: 1px solid white;
      background-color: black;
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      background: white;
    }
    .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 12px 0;
      display: block;
    }
  }
}