.the-team {
  padding: 3rem 5%;
  .swiper-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
    height: 440px;
    @include mq-md-and-down {
      height: 620px;
    }
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }
  .swiper-slide {
    flex-shrink: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    @include mq-md-and-down {
      flex-flow: column;
      justify-content: flex-start;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translate(-50%, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    font-size: 2.5rem;
    color: $dark-font-color;
  }
  .swiper-button-prev {
    left: 1rem;
    transform: translate(-50%);
  }
  .swiper-button-next {
    right: -1rem;
    transform: translate(-50%);
  }
  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms;
    transform: translate3d(0, 0, 0);
    z-index: 1;
  }
  .swiper-pagination-bullets {
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: white;
    border: 1px solid $company-color;
    &:nth-child(n+2) {
      margin-left: 8px;
    }
  }
  .swiper-pagination-bullet {
    cursor: pointer;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: $company-color;
  }
  .slider-content-container {
    text-align: right;
    font-family: $headers-font;
    .name-personal {
      border-right: 3px solid $company-color;
      padding-right: 2rem;
      @include mq-lg-and-down {
        margin-top: 1rem;
      }
    }
    h4 {
      margin: 0;
      padding: 0;
    }
    p {
      margin-top: 5px;
    }
    p.italic {
      font-style: italic;
      font-weight: 300;
      @include mq-lg-and-down {
        margin-bottom: 0;
      }
    }
    p.textabout {
      @include mq-lg-and-down {
        display: none;
      }
    }
    .slider-progress {
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-align: left;
      color: $light-grey-font-color;
      @include mq-lg-and-down {
        margin-left: 2rem;
        margin-right: 2rem;
      }
      @include mq-lg-and-down {
        margin-top: 0;
        margin-bottom: 1rem;
      }
    }
    .line {
      margin: 0;
      height: 3px;
      position: relative;
      margin-top: 3rem;
      @include mq-lg-and-down {
        &:nth-child(1) {
          margin-top: 1rem;
        }
        &:nth-child(n+2) {
          margin-top: 2.5rem
        }
      }
    }
  }
}

.team-footer {
  max-width: 100%;
  @include background-img("../../images/bg_team_bottom.jpg", cover, center, no-repeat, padding-box);
  p {
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 4.5rem 1rem;
    text-align: center;
    color: white;
  }
}