.menu {
  position: absolute;
  top: 0;
  height: 74px;
  width: 100%;
  z-index: 2;
  .logo {
    font-family: $logo-font;
    color: $white-font-color;
    padding-top: 2.8rem;
    margin-left: 7%;
    font-size: 1.7rem;
    float: left;
  }
  nav {
    float: right;
    margin-right: 7%;
    padding-top: 2.4rem;
    ul {
      @include ul(none, 0, 0, 1.5rem);
      li {
        float: left;
        &:nth-child(-n+7) {
          margin-right: 0.7rem;
        }
        @include mq-lg-and-down {
          &:nth-child(-n+7) {
            margin-right: 0.3rem;
          }
        }
        @include mq-md-and-down {
          &:not(:last-child) {
            width: 100%;
            margin-top: 1rem;
            display: none;
          }
          &:last-child {
            float: right;
            display: inline-block;
          }
        }
        a:not(.icon) {
          margin-right: -0.6rem;
          padding: 0.4rem 0.9rem;
          @include links(inline-block, none, $white-font-color, 1rem, $main-font, 300);
          &:hover {
            border-radius: $border-radius;
            box-shadow: $white-box-shadow;
          }
          &:focus {
            @extend :hover;
          }
          @include mq-lg-and-down {
            margin-right: -0.2rem;
            padding: 0.3rem 0.4rem;
          }
        }
        .icon {
          margin-top: -0.4rem;
          padding: 0.7rem;
          border-radius: 5px;
          border: 2px solid $white-font-color;
          @include links(inline-block, none, $white-font-color, 35px);
          @include mq-sm-and-down {
            margin-top: 0;
          }
          display: none;
        }
      }
    }
  }
  transition-property: height;
  transition-duration: .6s;
}

.menu-height {
  height: 0;
}

.fixed-menu {
  height: 74px;
  .logo {
    padding-top: 1.6rem;
  }
  nav {
    padding-top: 1.3rem
  }
  position: fixed;
  background-color: rgba(44, 44, 39, .9);
  max-width: 1360px;
  top: 0;
}