.top-nav {
  position: absolute;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 1360px;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1.6%;
  z-index: 2;
  @include mq-xl-and-up {
    padding-top: 1.5%;
  }
}

.logo {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 1.7rem;
  text-decoration: none;
  font-family: $logo-font;
  color: $white-font-color;
  margin-left: 7%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  @include ul(none, 0, 7%, 0, 1.3rem);
  .nav-link {
    @include links(inline-block, none, $white-font-color, 1rem, $main-font, 300);
  }
}

.responsive-nav {
  .nav-li {
    &:nth-child(-n+7) {
      margin-right: 0.6rem;
    }
    a {
      padding: .3rem .6rem;
      @include mq-lg-and-down {
        padding: .3rem .3rem;
      }
      &:hover {
        border-radius: $border-radius;
        box-shadow: $white-box-shadow;
      }
      &:focus {
        @extend :hover;
      }
    }
  }

  @include mq-md-and-down {
    .nav-bar {
      flex-direction: column;
      position: absolute;
      top: -150vh;
      transition: all, .5s;
      z-index: 2;
      width: 100%;
      height: 100vh;
      text-align: center;
      background-color: $dark-bg-menu;
      padding-top: 5.2rem;
      a {
        padding: .3rem 1.4rem;
      }
      .nav-li {
        margin-right: 0;
      }
    }
    .logo {
      z-index: 3;
    }
  }
}

.fixed-menu {
  position: fixed;
  background-color: $dark-bg-menu;
  opacity: 0.98;
  top: 0;
  margin: 0 auto;
  transition: all, .5s;
  .nav-bar {
    margin-right: 7%;
  }
  @include landscape-orientation {
    display: none;
  }
}