@mixin background-img($url, $size: null, $position: null, $repeat: null, $clip: null) {
  background-image: url($url);
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
  background-clip: $clip;
}

@mixin ul($list-style, $margin:null, $padding:null, $line-height:null) {
  list-style-type: $list-style;
  margin: $margin;
  padding: $padding;
  line-height: $line-height;
}

@mixin links($display:null, $decoration:null, $color:null, $font-size: null, $family:null, $font-weight: null) {
  display: $display;
  text-decoration: $decoration;
  font-size: $font-size;
  font-family: $family;
  font-weight: $font-weight;
  &:visited {
    color: $color;
  }
}

@mixin all-h($family:null, $line-height: null, $letter-spacing: null, $color:null, $font-size: null, $font-weight: null, $text-transform: null) {
  font-family: $family;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  text-transform: $text-transform;
}

@mixin mq-xs {
  @media(min-width: $screen-xs) and (max-width: $screen-sm - 1) {
    @content;
  }
}

@mixin mq-sm {
  @media(min-width: $screen-sm) and (max-width: $screen-md - 1) {
    @content;
  }
}

@mixin mq-sm-and-up {
  @media (min-width: $screen-sm) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
    @content;
  }
}

@mixin mq-md-and-up {
  @media(min-width: $screen-md) {
    @content;
  }
}

@mixin mq-lg {
  @media(min-width: $screen-lg) and (max-width: $screen-xl - 1) {
    @content;
  }
}

@mixin mq-lg-and-up {
  @media (min-width: $screen-lg) {
    @content;
  }
}

@mixin mq-xl-and-up {
  @media(min-width: $screen-xl) {
    @content;
  }
}

