$logo-font: "BigJohn", Big John;
$main-font: "Open Sans", sans-serif;
$headers-font: "Source Sans Pro", sans-serif;
$technical-font: "Roboto", sans-serif;

$dark-font-color: #323A46;
$light-grey-font-color: #81868F;
$white-font-color: #F4F5F3;
$teal-font-color: #00BD9A;

$company-color: #00BD99;
$transparent-company-color: rgba(106, 188, 154, .5);
$dark-overlay-color: rgba(20, 20, 20, .5);

$grey-bg: #F2F3F2;
$white-bg: #FEFFFE;
